.root {
  max-width: var(--tour-results-width);
  width: 100%;
  margin: 0 auto;
  padding: var(--tour-results-padding);
}

.grid {
  display: grid;
  gap: var(--space-4);

  grid-template-columns: repeat(
    auto-fit, minmax(var(--tour-grid-min-card-width), var(--tour-grid-max-card-width))
  );

  justify-content: center;
}

.body {
  padding: var(--space-4);
  display: grid;
  gap: var(--space-2);
}

.empty {
  padding: var(--space-4);
  color: var(--color-text-muted);
  text-align: center;
}

.loader {
  display: flex;
  justify-content: center;
  padding: var(--space-6) 0;
}
