.root {
  display: grid;
  padding: 40px;
}

.header {
  display: flex;
  flex-direction: column;
}

.main {
  display: grid;
  gap: var(--space-4);
}

.heroHeading {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-relaxed);
  width: 100%;
  text-align: center;
}
